* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

.App {
  text-align: center;
  width: 80%;
  margin: 1.5rem auto;
}

.stat {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  justify-items: start;
  margin-top: 0.5rem;
}

.inputcontent {
  width: 100%;
  margin: 1rem 0;
  height: 65vh;
  padding: 0.5rem;
}

button {
  padding: 0.5rem 1rem;
  border: none;
  cursor: pointer;
  background-color: #394c73;
  color: white;
  font-size: 1.5rem;
  border-radius: 3px;
  transition: background-color 0.2s;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);

  &:hover {
    background-color: #0d87e9;
  }

  &:disabled,
  &[disabled] {
    opacity: 0.5;
    cursor: inherit;

    &:hover {
      background-color: #394c73;
    }
  }
}

.inputarea {
  position: relative;
  border: 5px solid #0096cd;
  margin-top: 1rem;

  .mainarticle {
    font-size: 2rem;
    line-height: 4.5rem;
    text-align: start;
    margin-bottom: 2rem;
  }

  textarea {
    position: absolute;
    width: 100%;
    font-size: 2rem;
    left: 0;
    top: 2.5rem;
    z-index: -1;
    height: 100%;
    line-height: 4.5rem;
    border: none;
    outline: none;
    resize: none;
  }
}
